.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: midnightblue;
    height: 50px;
}
.navButtons {
    margin-right: 15px;
}
.navButtons > button {
    margin-left: 10px;
}

