.carInfo {
  border: 1px solid grey;
  padding: 25px;
  margin: 0 10px 10px 0;
  min-width: 120px;
}
.carContainer {
  display: flex;
}
.carTools {
  display: flex;
  flex-direction: column;
  justify-content: center;
}